.text-field {
  margin: 1rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;

  .text-field__input {
    width: 100%;
  }

  .text-field__input,
  .text-field__button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
  }
}
