@use "../variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline-color: dodgerblue;
}

body {
  height: 100vh;
  padding: 1.5rem;
  overflow: scroll;
}

@media screen and (min-width: $tablet-breakpoint) {
  body {
    padding: 2rem;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  body {
    padding: 3rem 8rem;
  }
}
