.field {
  border: $text-color-secondary dashed 2px;
  border-radius: 5px;
  padding: 0 1.5rem;
  margin: 2.5rem 0;
  background-color: $foreground-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .field__input {
    padding: 1rem 0;

    background-color: $foreground-color;
    border: none;
    flex: 1;

    &::placeholder {
      color: $text-color-secondary;
    }
  }

  .field__icon {
    padding: 1rem 0;

    color: $highlight-color;
  }
}
