.main {
  margin-top: 4rem;

  .main__welcome {
    font-size: $large-font-size;
    margin-bottom: 0.5rem;
  }

  .main__subtitle {
    color: $text-color-secondary;
  }

  //   .main__input-wrapper {
  //   }
}
