@use "../global/variables" as *;

.tasks {
  .tasks__heading {
    font-size: $regular-font-size;
    font-weight: normal;
  }

  .tasks__list {
    margin: 1rem 0 0.5rem 0;
    list-style: none;

    .tasks__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin: 2px 0;
      background-color: $foreground-color;

      .tasks__checkbox {
        appearance: none;
        height: 1rem;
        width: 1rem;
        border-radius: 3px;
        border: 1px solid $highlight-color;

        &:checked {
          background-color: $highlight-color;
        }

        &:checked + .tasks__check::before {
          content: "\2713";
          position: absolute;
          left: -0.9rem;
          top: -0.65rem;
        }
      }
      .tasks__check {
        position: relative;
      }
      .tasks__item-label {
        text-align: left;
        flex: 1;
        padding: 0 1.5rem;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      //   .tasks__edit-icon {
      //   }
    }
  }

  .tasks__complete-text {
    color: $text-color-secondary;
  }
}
